<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Album</title>
</head>
<body>
    <h1>Album</h1>
    <ul>
        <li th:each="album : ${albums}">
            <ul>
                <li><span th:text="${album.artist}"></span></li>
                <li><image th:src="${album.imageUrl}" width=75px alt="image URL"></image></li>
                <li><span th:text="${album.length}"></span></li>
                <li><span th:text="${album.songCount}"></span></li>
                <li><span th:text="${album.title}"></span></li>
            </ul>
        </li>
    </ul>

    <form action="/addalbum" method="POST">
        Artist name:<br>
        <input type="text" name="artistName" value="firstname" required>
        <br>

        Image URL:<br>
        <input type="text" name="imageUrl" required>
        <br>

        Length:<br>
        <input type="number" name="length" required>
        <br>

        Song Count:<br>
        <input type="number" name="songCount" required>
        <br>

        Title:<br>
        <input type="text" name="title" required>
        <br>

        <input type="submit" value="Submit">
    </form>

</body>
</html>